@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-social-link-background-color: rgba(255, 255, 255, 0.1);
  --border-bottom-color: #ececec;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #c4c4c4;
  --icon-fill-color: #afb1b8;
  --background-accent-color: #188ce8;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  display: block;
}

.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  /* white-space:  nowrap; */
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--background-accent-color);
}

.hero__button {
  padding: 10px 32px;
  margin: 0 auto;
}

.send-distribution__button {
  position: relative;
  padding: 10px 29px;
  text-align: left;
  margin: 0 auto;
}

.send-distribution__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 28px;
  bottom: 13px;
  fill: var(--primary-white-color);
}

.form__button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.menu-toggle {
  display: block;
  padding: 0;
  margin-left: auto;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  fill: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-toggle_icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle_icon:hover, .menu-toggle_icon:focus {
  fill: var(--accent-color);
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--border-bottom-color);
}

@media screen and (max-width: 767px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-white-color);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-mobile {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 420px) {
  .mobile-nav__item {
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  color: var(--title-text-color);
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}

.menu-mobile__link-phone {
  display: block;
  margin-bottom: 32px;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .menu-mobile__link-phone {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.menu-mobile__link-mail {
  display: block;
  margin-bottom: 64px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 420px) {
  .menu-mobile__link-mail {
    margin-bottom: 34px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.mobile-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 420px) {
  .mobile-social-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mobile-social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-social-list__item:not(:last-child)::after {
  content: '';
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 420px) {
  .mobile-social-list__item {
    margin-bottom: 10px;
  }
}

.mobile-social-list__link {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.page-header__logo-mobile {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header__logo-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.logo__wrapper--color-black {
  color: var(--primary-black-color);
}

.page-footer__logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .page-footer__logo {
    text-align: center;
  }
}

.logo__wrapper--color-white {
  color: var(--primary-white-color);
}

.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.auth-nav {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav__wrapper {
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon:hover, .auth-nav__icon:focus {
  fill: var(--accent-color);
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: var(--accent-color);
}

.auth-nav__icon--mail {
  width: 16px;
  height: 12px;
}

.auth-nav__icon--smartphone {
  width: 10px;
  height: 16px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: var(--title-text-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--hero-background-color);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-phone.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-phone.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-phone@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-phone@2x.jpg");
  }
}

@media screen and (min-width: 576px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet.jpg");
  }
}

@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 960px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop.jpg");
  }
}

@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.advantages__item {
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages__item {
    width: 450px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--primary-background-color);
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.work {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-type__item {
  position: relative;
  display: block;
  width: 100%;
}

.work-type__item:not(:last-child) {
  margin-right: 30px;
}

.work-type__image {
  display: block;
  max-width: 100%;
}

.work-type__text {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--primary-background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Карточка учасника команды */
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  display: block;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.description {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .description {
    padding-bottom: 30px;
  }
}

.team-list__image {
  display: block;
  max-width: 100%;
}

.description__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.description__text {
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-fill-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon:hover, .socials__icon:focus {
  fill: var(--primary-white-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--primary-white-color);
}

.socials__icon--dark {
  fill: var(--primary-white-color);
}

.socials__link--dark {
  background-color: var(--footer-social-link-background-color);
}

.clients__container {
  max-width: 100%;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  width: 230px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 480px) {
  .clients-list__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
    height: 92px;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-fill-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon:hover, .clients-list__icon:focus {
  fill: var(--accent-color);
}

.client-link:hover .clients-list__icon,
.client-link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.address {
  color: var(--primary-white-color);
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

.address__text {
  margin-bottom: 9px;
}

.address__link {
  color: var(--address-link-color);
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--first {
  margin-bottom: 9px;
}

.footer-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer-join {
    margin-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-distribution {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-distribution {
    text-align: left;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-distribution__mail {
    margin-right: 12px;
  }
}

.footer-distribution__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--footer-background-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}

.footer-distribution__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-distribution__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-distribution__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-distribution__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-distribution__input:hover, .footer-distribution__input:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 480px) {
  .footer-distribution__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-distribution__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-distribution__input {
    width: 358px;
  }
}

.backdrop {
  overflow-y: scroll;
  padding: 93px 15px 94px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
    min-height: 581px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 609px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  fill: var(--primary-black-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-close__icon {
  width: 18px;
  height: 18px;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.form-field__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border: 1px solid var(--accent-color);
}

.form-field__text {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__text:focus {
  border: 1px solid var(--accent-color);
}

.form-field {
  margin-bottom: 10px;
}

.form-field__icon-wrapper {
  display: block;
  position: relative;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--primary-black-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__form-text {
  padding: 12px 16px;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__form-text::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__form-text:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__form-text::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__form-text::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .check-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.check-text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  border-radius: 3px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-black-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .check-text > .check-text__wrapper {
  background-color: var(--accent-color);
  border-color: transparent;
}

.check-text__link {
  margin-left: 3px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
}

.check-text__icon {
  fill: var(--primary-white-color);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 399px) {
  .filter-list__item:not(:last-child) {
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .filter-list__item:not(:nth-child(n + 4)) {
    margin-bottom: 21px;
  }
}

.filter-list__button {
  display: block;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-background-color);
  color: var(--title-text-color);
  -webkit-transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .studio-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.studio-works__item {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .studio-works__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .studio-works__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .studio-works__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.studio-works__link {
  height: 100%;
  display: block;
}

.studio-works__link:hover, .studio-works__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(8, 7, 7, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(8, 7, 7, 0.16);
}

.wrapper-example {
  position: relative;
  overflow: hidden;
}

.wrapper-example__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper-example__text {
  position: absolute;
  padding: 45px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-example__text:hover {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.studio-works__link:hover .wrapper-example__text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (min-width: 380px) {
  .wrapper-example__text {
    padding: 64px 24px;
  }
}

@media screen and (min-width: 451px) {
  .wrapper-example__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-example__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-example__text {
    padding: 63px 24px;
  }
}

.wrapper-info {
  padding: 20px 24px;
}

.studio-works__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.studio-works__text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */