.footer-join {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 93px;
  }
}
